.footer-bg {
  background-color: #02C26A;
  color: #FFFFFF;
}

.container {
  justify-content: space-between;
}

.footer-bg .redes span {
  padding: 20px;
}

.footer-bg p {
  font-size: 1em;
  font-weight: 500;
}