.footer-bg {
  flex-shrink: 0;
  margin-top: 3rem;
  padding: 10px;
}

.container {
  justify-content: space-between;
}

footer {
  background-color: #02C26A;
  color: #FFFFFF;
}

footer .redes span {
  padding: 10px;
}

.footer-bg p {
  font-size: 1em;
  font-weight: 500;
}